<section class="wrapper style1 align-left">
  <div class="inner">
    <header>
      <h2 id="publications">Publications et communications</h2>
    </header>

    <div class="content">
      <h3>Publications</h3>
      <ul class="alt">
        <li>
          Casabona i Amat, C., Adde, A., Darveau, M., Lepage, C. et Mazerolle, M. J. (2021). Breeding Expansion of Sandhill Cranes in Quebec. <i>Journal of Wildlife Management</i>, 86(3), e22169.
          <br><a href="https://doi.org/10.1002/jwmg.22169" class="icon style1 solid fa-link"> DOI</a>
        </li>
        <li>
          Casabona i Amat, C., Blanchette, P. et Desrochers, A. (2021). Habitat Occupancy by Spruce Grouse (<i>Canachites canadensis</i>) in the south of its range, Quebec, Canada. <i>Canadian Journal of Zoology</i>, 100(999), 10-18.
          <br><a href="https://doi.org/10.1139/cjz-2021-0115" class="icon style1 solid fa-link"> DOI</a>
        </li>
        <li>
          Adde, A., Casabona i Amat, C., Mazerolle, M. J., Darveau, M., Cumming, S. G. et O'Hara, R. B. (2021). Integrated modeling of waterfowl distribution in western Canada using aerial survey and citizen science (eBird) data. <i>Ecosphere</i>.
          <br><a href="https://doi.org/10.1002/ECS2.3790" class="icon style1 solid fa-link"> DOI</a>
        </li>
        <li>
          Société Provancher. Darveau, M., Quinn, J., Casabona i Amat, C. et Lepage, M. (2022). Plan de conservation de la réserve naturelle de l'Ile-aux-Basques-et-des-Razades. Société Provancher, Québec, 54 p.
          <br><a href="https://doi.org/10.5281/zenodo.6082246" class="icon style1 solid fa-link"> DOI</a>
        </li>
        <li>
          Le Vaillant, J., Terrigeol, A., Desbordes, L., Côté, P., Lemaître, J., Anctil, A., Casabona, C., Ibarzabal, J., Imbeau, L., Mackentley, N., Neri, C., Rolek, B., McClure, C. J. W. et Therrien, J.-F. (2025). Demographic trends for the Boreal Owl, <i>Aegolius funereus</i>, using standardized migration monitoring data in eastern North America. <i>The Wilson Journal of Ornithology</i>.
          <br><a href="https://doi.org/10.1080/15594491.2025.2547332" class="icon style1 solid fa-link"> DOI</a>
        </li>
      </ul>

      <h3>Communications choisies</h3>
      <ul class="alt">
        <li>Exploring the mysteries of biodiversity change: Bayesian quantification of species extinction and colonization by incorporating sampling effort. GEO BON Global Conference, Montréal, 2023.</li>
        <li>A Bayesian methodology to estimate local extinction events using spatial information. International Biogeography Society, Vancouver, 2022.</li>
        <li>Occupancy dynamics of the eastern population of Sandhill Cranes during the breeding period. EURING Analytical Meeting & Workshop, Québec, 2021.</li>
        <li>Combining professional and citizen data sets to quantify spatio-temporal dynamics of the Sandhill Crane. Congrès annuel de la SQEBC, Québec, 2019.</li>
        <li>Facteurs d'influence de la répartition de la Grue du Canada à l'échelle du paysage. Congrès ornithologique QuébecOiseaux, Rimouski, 2019.</li>
      </ul>
    </div>
  </div>
</section>
